@model List<LearnerProject.Models.Entities.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<br />
<h3>Courses</h3>
<br />

@{
    int count = 0;
}
<table class="table table-bordered table-hover" style="display : flow-root ; word-wrap : inherit">

    <tr>
        <th style="text-align : center ; align-content : center ; font-weight : bold">#</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Course Name</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Image URL</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Description</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Price</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Category</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Status</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Update</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Active - Inactive</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@count</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.CourseName</td>
            <td style="text-align: center; align-content: center; font-weight: bold">@item.ImageUrl.Take(250)</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.Description</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.Price</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.Category.CategoryName</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.Status</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">

                @*<a href="/Course/DeleteCourse/@item.CourseId" style="text-align : center ; align-content : center ; font-weight : bold" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</a>*@
                <a href="/AdminCourse/UpdateCourse/@item.CourseId" style="text-align : center ; align-content : center ; font-weight : bold" class="btn btn-outline-info"><i class="fa fa-pen"></i> Update</a>
            </td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">
                <a href="/AdminCourse/MakeActive/@item.CourseId" style="text-align : center ; align-content : center ; font-weight : bold" class="btn btn-outline-success"><i class="fas fa-check"></i> Make Active</a>

                <a href="/AdminCourse/MakeInactive/@item.CourseId" style="text-align : center ; align-content : center ; font-weight : bold" class="btn btn-outline-warning"><i class="fa fa-lock"></i> Make Inactive</a>
            </td>
        </tr>
    }

</table>
<br />
<a href="/AdminCourse/AddCourse" class="btn btn-outline-primary"><i class="fas fa-plus-square"></i> Add New Course</a>