@model List<LearnerProject.Models.Entities.Teacher>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h3>Teachers</h3>
<br />

@{
    int count = 0;
}
<table class="table table-bordered table-hover">

    <tr>
        <th style="text-align : center ; align-content : center ; font-weight : bold">#</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Name Surname</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Image URL</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Title</th>        
        <th style="text-align : center ; align-content : center ; font-weight : bold">User Name</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Password</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Status</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Update</th>
        <th style="text-align : center ; align-content : center ; font-weight : bold">Active - Inactive</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.TeacherId</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.NameSurname</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.ImageUrl</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.Title</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.UserName</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.Password</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">@item.Status</td>
            <td style="text-align : center ; align-content : center ; font-weight : bold"> 

                @*<a href="/TeacherTeacher/DeleteTeacherTeacher/@item.TeacherTeacherId" style="text-align : center ; align-content : center ; font-weight : bold" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</a>*@
                <a href="/AdminTeacher/UpdateTeacher/@item.TeacherId" style="text-align : center ; align-content : center ; font-weight : bold" class="btn btn-outline-info"><i class="fa fa-pen"></i> Update</a>
            </td>
            <td style="text-align : center ; align-content : center ; font-weight : bold">
                <a href="/AdminTeacher/ChangeStatus/@item.TeacherId" style="text-align : center ; align-content : center ; font-weight : bold" class="btn btn-outline-success"><i class="fas fa-check"></i> Change Status </a>

                @*<a href="/TeacherTeacher/MakeInactive/@item.TeacherId" style="text-align : center ; align-content : center ; font-weight : bold" class="btn btn-outline-warning"><i class="fa fa-lock"></i> Make Inactive</a>*@
            </td>
        </tr>
    }

</table>
<br />
<a href="/AdminTeacher/AddTeacher" class="btn btn-outline-primary"><i class="fas fa-plus-square"></i> Add New Teacher</a>



