@model IPagedList<LearnerProject.Models.Entities.Review>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3 class="mt-3">Comment/Points List</h3>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Course Name</th>
            <th>Review Value</th>
            <th>Comment</th>
            <th>Student Name</th>
            <th>Student User Name</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.Course.CourseName</td>
                <td>@item.ReviewValue</td>
                <td>@(item.Comment.Length>60 ? item.Comment.Substring(0,60) + "..." : item.Comment )</td>
                <td>@item.Student.NameSurname</td>
                <td>@item.Student.UserName</td>
                <td>
                    <a href="/Review/DeleteReview/@item.ReviewId" class="btn btn-outline-danger" style="margin-right:15px"><i class="fa fa-trash"></i>Delete</a>
                    <a href="/Review/UpdateReview/@item.ReviewId" class="btn btn-outline-warning"> <i class="fa fa-edit"></i>Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Review/AddReview/" class="btn btn-success" style="float:right"><i class="fa fa-plus m-2"></i>Add Comment</a>
<br />
@Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new { pageNumber }), new PagedListRenderOptions
  {
      LiElementClasses = new List<string>
      {
          "page-link",

      }
  })

