﻿@model LearnerProject.Models.Entities.Review

@{
    ViewBag.Title = "UpdateReview";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3 class="mt-3">Update Review</h3>

<form method="post">

    @Html.TextBoxFor(x => x.ReviewId, new { @class = "form-control mb-3", @placeholder = "Course ID", style = "display: none;" })
    @Html.DropDownListFor(x => x.CourseId, (List<SelectListItem>)ViewBag.course, "Select Course", new { @class = "form-control mb-3" })
    @Html.TextBoxFor(x => x.ReviewValue, new { @class = "form-control mb-3", @placeholder = "Review Point" })
    @Html.TextBoxFor(x => x.Comment, new { @class = "form-control mb-3", @placeholder = "Review Comment" })
    @Html.DropDownListFor(x => x.StudentId, (List<SelectListItem>)ViewBag.student, "Select Student", new { @class = "form-control mb-3" })

    <button class="btn btn-outline-primary"><i class="fas fa-save"> Update</i></button>
</form>

